/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

[class*='col-'] {
    float: left;
    padding-right: 20px; /* column-space */
}

.grid {
    width: 100%;
    max-width: 1900px;

    margin: 0 auto;
}
.grid-no-overflow-hiden{
    width: 100%;
    max-width: 1900px;
    min-width: 755px;
    margin: 0 auto;

}
.grid:after {
    content: "";
    display: table;
    clear: both;
}

.grid-pad {
    padding-top: 10px;
    padding-left: 10px; /* grid-space to left */
    padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
    float: right;
}

/* Content Columns */

.col-1-1 {
    width: 100%;
}
.col-2-3, .col-8-12 {
    width: 66.66%;
}

.col-1-2, .col-6-12 {
    width: 50%;
}

.col-1-3, .col-4-12 {
    width: 33.33%;
}

.col-1-4, .col-3-12 {
    width: 25%;
}
.col-2-4{
    width:50%;	
}
.col-3-4{
    width:75%;	
}
.col-1-5 {
    width: 20%;
}
.col-2-5 {
    width: 40%;
}
.col-3-5 {
    width: 60%;
}

.col-1-6, .col-2-12 {
    width: 16.667%;
}

.col-1-7 {
    width: 14.28%;
}
.col-2-7 {
    width: 28.57%;
}
.col-3-7 {
    width: 42.85%;
}
.col-1-8 {
    width: 12.5%;
}

.col-1-9 {
    width: 11.1%;
}

.col-1-10 {
    width: 10%;
}

.col-1-11 {
    width: 9.09%;
}

.col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%;
}

.col-9-12 {
    width: 75%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%
}



/* Pushing blocks */

.push-2-3, .push-8-12 {
    margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
    margin-left: 50%;
}

.push-1-3, .push-4-12 {
    margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
    margin-left: 25%;
}

.push-1-5 {
    margin-left: 20%;
}

.push-1-6, .push-2-12 {
    margin-left: 16.667%;
}

.push-1-7 {
    margin-left: 14.28%;
}

.push-1-8 {
    margin-left: 12.5%;
}

.push-1-9 {
    margin-left: 11.1%;
}

.push-1-10 {
    margin-left: 10%;
}

.push-1-11 {
    margin-left: 9.09%;
}

.push-1-12 {
    margin-left: 8.33%
}
.menu-mobile-fix{
    display:none;	
}
#nav{
    display:block;	
}
.end-col-hide-pc{
    display:none;	
}
.br-4{
    display:block;
}
.br-3{
    display:none;
}
.br-2{
    display:none;
}
.h-br-2{
    display:none;
}
.h-br-3{
    display:none;
}
.h-br-4{
    display:none;
}
.h-br-5{
    display:block;
}
.box-hot-product-home{
    overflow:hidden; 
    margin-right:20px; 
    background:#EEE;
}

.hotline-top-mobile{
    display:none;	
}
.fil-item{
    width:20%;
    float:left;
    height:30px;
    padding-right:2px;
    padding-top:4px;
}
.fil-item select,.fil-item .textkeyword{
    width:100%;	
    height:24px;
    border:solid 1px #adadad;
    outline:none;
}

.pc-paddingright-15{
    padding-right: 15px;
}

.pc-break{
    display: block;
}

.pad-break{
    display: none;
}

.tab-break{
    display: none;
}

.mobile-break{
    display: none;	
}

.hide-on-pc {
    display: none;

}        


.flex-container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    width:100%;
    justify-content:flex-start /* space-around;*/

}
.flex-container-round {
    justify-content:space-around;
}
.flex-space-between {
    justify-content:space-between;
}
.border-flex{
    border:solid 1px #e4e4e4;	
    border-right:none;
    border-bottom:none;
}

.cell-1-5{
    width:20%;
    float:left;
}
.cell-2-5{
    width:40%;
}
.cell-3-5{
    width:60%;
}
.cell-4-5{
    width:80%;	
}


.cell-1-3{
    float:left;
    width:32%;

}
.cell-2-3{
    float:left;
    width:66.66%;
}
.cell-1-4{
    float:left;
    width:24%;
}
.cell-2-4{
    float:left;
    width:50%;
}
.cell-3-4{
    float:left;
    width:75%;
}

.cell-1-2{
    width:48%;
    float:left;
}

.cell-home-1-3{
    float:left;
    width:30%;
}

.cell-home-2-3{
    float:left;
    width:65%;
}

.cell-home-1-4{
    float:left;
    width:22%;
}

.cell-home-1-5{
    float:left;
    width:15%;
}


.project-padleft{
    padding-left:311px;
}

/*
@media handheld, only screen and (max-width: 1115px) {
    #nav{
        display:none;	
    }
    .menu-mobile-fix{
        display:block;	
    }
    .mobile-col-1-2{
        width:33.33%;	
    }
    .br-4{
        display:none;
    }
    .br-3{
        display:block;
    }
    .br-2{
        display:none;
    }

    .hide-with-menu {
        display: none !important;
        width: 0;
        height: 0;
    }        

    .box-support-right .item-phone{
        font-size: 12px;
    }
    .box-support-right .item-email{
        font-size: 12px;
    }    
    

}

*/

@media handheld, only screen and (max-width: 967px) {

    .fil-item{
        width:100%;	
    }

    .box-filter .box-content-fillter{
        height: auto;

    }
    .mobile-100{
        width:100%;	
    }
    .menu-full .col-1-3{
        width:33.33%;
    }
    .end-col-hide-pc{
        display:block;	
    }
    .pad-2{
        width:50%;
        float:left;	
    }
    .mobile-col-1-2{
        width:33.33%;	
    }
    .pad-col-4{
        width:25%;
        float:left;
    }
    .br-4{
        display:none;
    }
    .br-3{
        display:block;
    }
    .br-2{
        display:none;
    }
    .h-br-2{
        display:none;
    }
    .h-br-3{
        display:none;
    }
    .h-br-4{
        display:block;
    }
    .h-br-5{
        display:none;
    }

    .box-support-right .item-phone{
        font-size: 14px;
    }
    .box-support-right .item-email{
        font-size: 14px;
    }    
    
    .pc-paddingright-15{
        padding-right: 0px;
    }
    
    

    .pad-col-1-4 {
        width: 25%;
    }

    .pad-col-1-1 {
        width: 100%;
    }
    .pad-col-2-3, .pad-col-8-12 {
        width: 66.66%;
    }

    .pad-col-1-2, .pad-col-6-12 {
        width: 50%;
    }

    .pad-col-1-3, .pad-col-4-12{
        width:33.33%;	
    } 

	
    .pc-break{
        display: none;
    }

    .pad-break{
        display: block;
    }

    .mobile-break{
        display:none;	
    }        
	

    .hide-on-pad {
        display: none;
    }

    .hide-on-pc{
        display: block; 
    }    
    
    .project-padleft{
        padding-left:211px
    }
    .intro-news{
		display:none;	
	}
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px; 
        padding-right: 0px;
    }

	.hide-on-pc{
        display: block; 
    }
    .hide-on-pad {
        display: block; 
    }
    .hide-on-tab {
        display: none;
    }
    
    
    .tab-mobile{
        display: block;
    }

    .pc-paddingright-15{
        padding-right: 0px;
    }

    
    .pc-break{
        display: none;
    }

    .pad-break {
        display: none;
    }

    .tab-break{
        display: block;
    }

    .mobile-break{
        display:none;	
    }    


    .tab-col-1-4 {
        width: 25%;
    }

    .tab-col-3-4 {
        width: 75%;
    }


    .tab-col-1-1 {
        width: 100%;
        padding-right:10px;
    }

    .tab-col-2-3, .tab-col-8-12 {
        width: 66.66%;
    }

    .tab-col-1-2, .tab-col-6-12 {
        width: 50%;
    }

    .tab-col-1-3, .tab-col-4-12{
        width:33.33%;	
    }

    
    .tab-cell-1-1{
        float:left;
        width:100%;
    }    
    .tab-cell-1-2{
        float:left;
        width:48%;
    }
    .tab-cell-1-3{
        float:left;
        width:30%;
    }
    .tab-cell-1-4{
        float:left;
        width:22%;
    }    
    
    .tab-cell-1-5{
        float:left;
        width:18%;
    }        
    .tab-cell-7-12{
        float:left;
        width:55%;
    }        
    .tab-cell-5-12{
        float:left;
        width:42%;
    }      
    
    .box-hot-product-home{
        margin-right:10px;	
    }

    .hotline-top-mobile{
        display:block;	
    }
	
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    	width: 100% !important;
	}
        
    .project-padleft{
        padding-left:151px
    }        
    
    .contact-address{
        position: fixed;    bottom: 100px;    width: 90%; left: 12%;    line-height: 22px;
    }    
    
    .contact-img{
        margin: 0px 30px 0px 30px;
    }
	.intro-news{
		display:block;	
	}
	.news-100{
		width:100%;	
	}
}
@media handheld, only screen and (max-width: 700px) {
	.grid-pad {
    padding-top: 0px;
    padding-left: 0px; /* grid-space to left */
    padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}


	.logo-site{

	  height:auto;
    }
	
	

}
@media handheld, only screen and (max-width: 477px) {
    
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px; 
        padding-right: 0px;
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px; 
    }



    [class*='mobile-col-'] {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px; 
        padding-bottom: 0px;
    }

    
    .tab-detail{
            height:30px	;
            border-bottom:none !important;
    }
    .tab-detail .item-tab{
            float:left;
            width:100% !important;	
            padding:0px !important;
            height:30px;
            margin: 2px 0px;
    }
    .tab-detail .item-tab:first-child{
            padding-left:0px;	
    }
    .tab-detail .item-tab a{
        background: #EEE;
        
            display:block;	
            border: none !important;
            border-bottom:none;
            height:30px;
            text-align:center;
            line-height:30px;
            border-radius:0px !important;
    }
    .tab-detail .item-tab a.active{
            background:#ef6410;	
    }        
    
    
    .tab-mobile{
        display: block;
    }


    .pc-paddingright-15{
        padding-right: 0px;
    }
    

    .hide-on-pc{
        display: block; 
    }
    .hide-on-pad {
        display: block; 
    }
    .hide-on-tab {
        display: block; 
    }
    .hide-on-mobile {
        display: none !important;
    }    
    
    .pc-break{
        display: none;
    }

    .pad-break {
        display: none;
    }

    .tab-break{
        display:none;	
    }

    .mobile-break{
        display:block;	
    }

	
    .mobile-cell-1-1{
        float:left;
        width:100%;
    }        
    .mobile-cell-1-2{
        float:left;
        width:48%;
    }
    .mobile-cell-1-3{
        float:left;
        width:32%;
    }
    .mobile-cell-2-3{
        float:left;
        width:62%;
    }

	
    .mobile-col-1-1 {
        width: 100%;
        /*padding-right:10px;*/
        padding-left: 10px;
    }
    .mobile-col-2-3, .mobile-col-8-12 {
        width: 66.66%;
    }

    .mobile-col-1-2, .mobile-col-6-12 {
        width: 50%;
    }

    .mobile-col-1-2:last-of-type{
        padding-right:0px;
        padding-left:10px;
    }

    .mobile-col-1-3, .mobile-col-4-12{
        width:33.33%;	
    } 

    
    .project-padleft{
        padding-left:100px
    }    
    
    .logo-site{
      width: 50px;
	  height:auto;
    }
    
    .project-name{
        font-size: 12px;
    }
	.menubottom li a{
		margin:0px 3px;		
	}
    
        
    .contact-address{
        position: fixed;    bottom: 100px;    width: 90%; left: 12%;    line-height: 22px;
    }        
    
    .contact-img{
        margin: 0px 10px 0px 30px;
    }    
	
	
        
}
